
.login_window{
     position:relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 350px;
     border: 2px solid gray;
     border-radius: 10px;
     background: rgb(240,240,240);
     background: linear-gradient(180deg, rgba(240,240,240,1) 3%, rgba(50,126,126,0.9) 91%);
     color:#343434;
     text-shadow: 0 0 1px black;
}



